$background-color: $scorpion;
$font-color: $lime;
$quote-color: $cod-gray;
$font-size: 30px;

.quote {
  background-color: $quote-color;
  font-size: $font-size * 1.5;
  color: $font-color;
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 618px;
  width: 618px;
  justify-content: center;
  align-items: center;
}

.gameSquare {
  width: 33%;
  height: 33%;
  border: 3px solid blue;
}

.gameSquare:hover {
  background-color: green;
}
